    body {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas: ". header ."". main .";
    }
    
    body a {
        color: #3399FF;
        text-decoration: none;
    }
    
    body a:hover {
        color: yellowgreen;
    }
    
    .thin {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    
    .light {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    
    .regular {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    .medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    
    .bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    
    .black {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    
    .header {
        grid-area: header;
    }
    
    .main_block {
        grid-area: main;
    }
    
    .work a {
        display: inline-block;
    }
    
    .work img {
        width: 100%;
        object-fit: contain;
    }
    
    .work {
        text-align: center;
    }
    
    .works {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: center;
    }
    
    h2 {
        margin: 3% 0;
    }
    
    .contact {
        display: flex;
        margin: 0 10px;
    }
    
    .contact p {
        margin: auto 5px;
    }
    
    .contact i {
        font-size: 2em;
    }
    
    .contacts {
        display: flex;
        justify-content: center;
    }
    
    .my_contacts {
        margin-bottom: 30px;
    }
    
    @media screen and (prefers-color-scheme: dark) {
        body {
            background-color: #232323;
            color: #fff;
        }
    }
    
    @media screen and (prefers-color-scheme: light) {
        body {
            background-color: #fff;
            color: #000;
        }
    }
    
    @media screen and (prefers-color-scheme: no-preference) {
        body {
            background-color: #fff;
            color: #000;
        }
    }
    
    @media screen and (max-width: 480px) {
        body {
            display: block;
            margin-top: 0;
        }
        .header {
            margin: 5px;
        }
        .main_block {
            padding: 5px;
        }
        .works {
            display: inline-block;
            text-align: center;
        }
        .contacts {
            display: inline-block;
        }
    }